-- CRM Database Functions

-- Function to normalize Iranian phone numbers
CREATE OR REPLACE FUNCTION normalize_iranian_phone(phone_input TEXT)
RETURNS TEXT AS $$
BEGIN
    -- Remove all non-digit characters
    phone_input := regexp_replace(phone_input, '[^0-9]', '', 'g');
    
    -- Handle different Iranian phone formats
    CASE 
        -- Already normalized format (+989XXXXXXXXX)
        WHEN phone_input ~ '^989[0-9]{9}$' THEN
            RETURN '+' || phone_input;
        
        -- Format: 09XXXXXXXXX
        WHEN phone_input ~ '^09[0-9]{9}$' THEN
            RETURN '+98' || substring(phone_input from 2);
        
        -- Format: 9XXXXXXXXX
        WHEN phone_input ~ '^9[0-9]{9}$' THEN
            RETURN '+98' || phone_input;
        
        -- Format: 0098XXXXXXXXX
        WHEN phone_input ~ '^0098[0-9]{10}$' THEN
            RETURN '+' || substring(phone_input from 3);
        
        -- Format: 98XXXXXXXXX
        WHEN phone_input ~ '^98[0-9]{10}$' THEN
            RETURN '+' || phone_input;
        
        ELSE
            -- Return original if no pattern matches
            RETURN phone_input;
    END CASE;
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- Function to calculate loyalty tier based on spending and visits
CREATE OR REPLACE FUNCTION calculate_loyalty_tier(
    lifetime_spent DECIMAL,
    total_visits INTEGER,
    current_year_spent DECIMAL
)
RETURNS TEXT AS $$
BEGIN
    -- Platinum: 50M+ IRR lifetime OR 200+ visits OR 20M+ this year
    IF lifetime_spent >= 50000000 OR total_visits >= 200 OR current_year_spent >= 20000000 THEN
        RETURN 'PLATINUM';
    
    -- Gold: 20M+ IRR lifetime OR 100+ visits OR 10M+ this year
    ELSIF lifetime_spent >= 20000000 OR total_visits >= 100 OR current_year_spent >= 10000000 THEN
        RETURN 'GOLD';
    
    -- Silver: 5M+ IRR lifetime OR 30+ visits OR 3M+ this year
    ELSIF lifetime_spent >= 5000000 OR total_visits >= 30 OR current_year_spent >= 3000000 THEN
        RETURN 'SILVER';
    
    -- Bronze: Default tier
    ELSE
        RETURN 'BRONZE';
    END IF;
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- Function to calculate points earned from amount spent
CREATE OR REPLACE FUNCTION calculate_points_from_amount(amount DECIMAL)
RETURNS INTEGER AS $$
BEGIN
    -- 1 point per 1000 IRR spent
    RETURN FLOOR(amount / 1000)::INTEGER;
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- Trigger function to automatically normalize phone numbers
CREATE OR REPLACE FUNCTION trigger_normalize_customer_phone()
RETURNS TRIGGER AS $$
BEGIN
    NEW.phone_normalized := normalize_iranian_phone(NEW.phone);
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Create trigger for phone normalization
DROP TRIGGER IF EXISTS normalize_phone_trigger ON customers;
CREATE TRIGGER normalize_phone_trigger
    BEFORE INSERT OR UPDATE ON customers
    FOR EACH ROW
    EXECUTE FUNCTION trigger_normalize_customer_phone();

-- Customer Summary View
CREATE OR REPLACE VIEW customer_summary AS
SELECT 
    c.id,
    c.phone,
    c.phone_normalized,
    c.name,
    c.email,
    c.status,
    c.segment,
    c.birthday,
    c.created_at,
    
    -- Loyalty Information
    cl.current_points,
    cl.tier_level,
    cl.lifetime_spent,
    cl.current_year_spent,
    cl.total_visits,
    cl.last_visit_date,
    cl.first_visit_date,
    
    -- Calculated Fields
    EXTRACT(DAY FROM NOW() - cl.last_visit_date)::INTEGER as days_since_last_visit,
    CASE 
        WHEN cl.last_visit_date >= CURRENT_DATE - INTERVAL '30 days' THEN true
        ELSE false
    END as visited_recently

FROM customers c
LEFT JOIN customer_loyalty cl ON c.id = cl.customer_id
WHERE c.is_active = true;

-- Performance Indexes
CREATE INDEX IF NOT EXISTS idx_customers_phone_normalized ON customers(phone_normalized);
CREATE INDEX IF NOT EXISTS idx_customers_segment_status ON customers(segment, status) WHERE is_active = true;
CREATE INDEX IF NOT EXISTS idx_customer_visits_date_customer ON customer_visits(visit_date, customer_id);
CREATE INDEX IF NOT EXISTS idx_loyalty_transactions_customer_date ON loyalty_transactions(customer_id, created_at);
